.App {
  text-align: center;
}

.board {
  position: relative;
  width: 1000px;
  height: 800px; /* Aumentado para dar espacio a los jugadores */
  background-color: #4CAF50; /* Verde del césped */
  border: 1px solid black;
  margin: 0 auto;
}

/* Líneas del campo */
.field {
  position: absolute;
  width: 100%;
  height: 600px; /* Ajustar la altura del campo */
  box-sizing: border-box;
  border: 4px solid white;
}

/* Líneas del área de penalti */
.penalty-area {
  position: absolute;
  width: 160px;
  height: 280px;
  border: 4px solid white;
  top: 160px;
  left: 0;
}

.penalty-area.right {
  left: auto;
  right: 0;
}

/* Área pequeña */
.goal-area {
  position: absolute;
  width: 60px;
  height: 160px;
  border: 4px solid white;
  top: 220px;
  left: 0;
}

.goal-area.right {
  left: auto;
  right: 0;
}

/* Círculo central */
.center-circle {
  position: absolute;
  width: 120px;
  height: 120px;
  border: 4px solid white;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Línea central */
.center-line {
  position: absolute;
  width: 4px;
  height: 100%;
  background-color: white;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* Área de penalti punto */
.penalty-spot {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 50%;
  top: 50%;
  left: 100px;
  transform: translate(-50%, -50%);
}

.penalty-spot.right {
  left: auto;
  right: 100px;
}

/* Fichas de jugadores */
.player {
  position: absolute;
  cursor: move;
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
